* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto';
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 238, 0);
    z-index: 2;
}

.nav-links a {
    color: rgb(255, 238, 0);
}


.logo {
    font-size: 32px;
}


.menu {
    display: flex;
    gap: 1em;
    font-size: 18px;
}



.menu li a:hover {
    color: red
}

.menu li {
    padding: 5px 14px;
}




input[type="checkbox"] {
    display: none;
}

.hamburger {
    display: none;
    font-size: 24px;
    user-select: none;
}
.myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
}

.about {
    position: fixed;
    min-width: 100%;
    min-height: 100%;
    color: rgb(255, 238, 0);
    font-family: cursive;
}

.about-text__container {
    background-color: rgb(0, 0, 0, 0.7);
    width: 40%;
    margin-left: 30%;
    margin-top: 20%;
    border-radius: 25px;
}

.about-text__container-header {
    text-align: center;
    padding: 10px;
}

.about-text__container-text {
    text-align: justify;
    padding: 10px;

}
@media (max-width: 768px) {
    .menu {
        display: none;
        position: absolute;
        background-color: rgb(0, 0, 0);
        ;
        right: 0;
        left: 0;
        text-align: center;
        padding: 16px 0;
        z-index: 2;
    }

    .menu li a :hover {
        display: inline-block;
        color: red;
    }

    .menu li+li {
        margin: 12px;
    }

    input[type="checkbox"]:checked~.menu {
        display: block;
    }

    .hamburger {
        display: block;
    }

    .myVideo {
        display: none;
    
    }

    .about {
        background-image: url("videos/pizza.jpg");
        min-height: 100%;
    }

    .about-text__container {
        background-color: rgb(0, 0, 0, 0.7);
        width: 60%;
        margin-left: 20%;
        margin-top: 20%;
        margin-bottom: 20%;
        border-radius: 25px;
    }

    .about-text__container-header {
        text-align: center;
        padding: 10px;
        font-size: 15px;
    }

    .about-text__container-text {
        text-align: center;
        padding: 10px;
        font-size: 13px;
    }

}

