* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /* font-family: cursive; */
    font-family: 'Roboto';
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

/* NAVBAR STYLING STARTS */
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 238, 0);
    z-index: 2;
}

.nav-links a {
    color: rgb(255, 238, 0);
}

/* LOGO */
.logo {
    font-size: 32px;
}

/* NAVBAR MENU */
.menu {
    display: flex;
    gap: 1em;
    font-size: 18px;
}



.menu li a:hover {
    color:red

}
.menu li {
    padding: 5px 14px;
}



/*RESPONSIVE NAVBAR MENU STARTS*/
/* CHECKBOX HACK */
input[type="checkbox"] {
    display: none;
}

/*HAMBURGER MENU*/
.hamburger {
    display: none;
    font-size: 24px;
    user-select: none;
}

/* APPLYING MEDIA QUERIES */
@media (max-width: 768px) {
    .menu {
        display: none;
        position: absolute;
        background-color: rgb(0, 0, 0);;
        right: 0;
        left: 0;
        text-align: center;
        padding: 16px 0;
    }

    .menu li a :hover {
        display: inline-block;
        color: red;
    }

    .menu li+li {
        margin: 12px;
    }

    input[type="checkbox"]:checked~.menu {
        display: block;
    }

    .hamburger {
        display: block;
    }


}

